{% trans_default_domain 'FOSUserBundle' %}
{#{% block subject %}#}
{#    {%- autoescape false -%}#}
        {#{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}#}
        {% block subject %}Reset Your Password{% endblock %}
{#    {%- endautoescape -%}#}
{#{% endblock %}#}

{% block body_text %}
{% autoescape false %}
        {#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
Hello {{ user.username }}!

You recently requested to reset your password for your Winthrop Internship Learning Engagement account. Use the link below to reset it.
 {{ confirmationUrl }}

If you did not request a password reset, please ignore this email or contact support if you have questions.

Thanks,
The Winthrop Internship Learning Engagement Team


If you’re having trouble with the button above, copy and paste the URL below into your web browser.

{{ confirmationUrl }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style type="text/css">

body{
    font-family: "Roboto Light", GillSans, Calibri, Trebuchet, sans-serif;
}

h1{
    font-family: "Roboto";
    padding:5px;
    text-align:center;
    background-color: #103A55;
    color: white;
}
 
div.link{
    display:flex;
    justify-content: center;
}
  
a{
    background-color: #EB6F5D;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    text-align:center;
}

a:hover{
    background-color: #103A55;
}
 
</style>
</head>
<body>

<div><h1>Winthrop Internship Learning Engagement</h1></div>

<b>Hello {{ user.firstName }},</b>
<br><br>

You recently requested to reset your password for your Winthrop Internship Learning Engagement account. Use the button below to reset it.
<br>
<br>
  <div class="link"><a href="{{ confirmationUrl }}" target="_blank"target="_blank">Reset your password</a></div>

<br><br>
If you did not request a password reset, please ignore this email or contact support if you have questions.
<br><br>
Thanks,<br>
The Winthrop Internship Learning Engagement Team
<br><br>
<hr>
<br><br>
If you’re having trouble with the button above, copy and paste the URL below into your web browser.
<br><br>
{{ confirmationUrl }}
</body>
</html>
{% endblock %}

{#{% block subject %}Resetting your password{% endblock %}#}

{#{% block body_text %}#}
    {#{% autoescape false %}#}
        {#Hello {{ user.username }} !#}

        {#You can reset your password by accessing {{ confirmationUrl }}#}

        {#Greetings,#}
        {#the App team#}
    {#{% endautoescape %}#}
{#{% endblock %}#}

{#{% block body_html %}#}
    {##}
        {#You can of course render the html directly here.#}
        {#Including a template as done here allows keeping things DRY by using#}
        {#the template inheritance in it#}
    {##}

{#{% include 'email/password_resetting.html.twig' %}#}
{#{% endblock %}#}