{% trans_default_domain 'FOSUserBundle' %}
{#
 {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'Submit'|trans }}" />
    </div>
{{ form_end(form) }}
#}
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
    <div>
        <div>
            {{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'}}) }}
        </div>
        {{ form_errors(form.firstName) }}
    </div>
    <div>
        <div>
            {{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name'}}) }}
        </div>
        {{ form_errors(form.lastName) }}
    </div>
    <div>
        <div>
            {{ form_widget(form.username, {'attr': {'placeholder': 'Winthrop Username'}}) }}
        </div>
        {{ form_errors(form.username) }}
    </div>
    <div>
        <div>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Winthrop Email Address'}}) }}
        </div>
        {{ form_errors(form.email) }}
    </div>
    <div>
        <div>
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
        </div>
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div>
        <div>
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirm Password'}}) }}
        </div>
        {{ form_errors(form.plainPassword.second) }}
     </div>

  
  <input type="submit" id="_submit" name="action" value="Submit" />
{{ form_end(form) }}
