{% extends 'innerbase.html.twig' %}

{% block title %}Edit Student Form One Information{% endblock %}

{% block body %}
    <h1 class="header center">Edit Student Form One Information</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('studentformone_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
        </ul>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input onclick="M.toast({html: 'Changes Saved'})" type="submit" value="Save Changes" />
            {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="del-btn" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}



{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <h1>Studentformone edit</h1>#}

{#    {{ form_start(edit_form) }}#}
{#        {{ form_widget(edit_form) }}#}
{#        <input type="submit" value="Edit" />#}
{#    {{ form_end(edit_form) }}#}

{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('studentformone_index') }}">Back to the list</a>#}
{#        </li>#}
{#        <li>#}
{#            {{ form_start(delete_form) }}#}
{#                <input type="submit" value="Delete">#}
{#            {{ form_end(delete_form) }}#}
{#        </li>#}
{#    </ul>#}
{#{% endblock %}#}
