{% extends 'innerbase.html.twig' %}

{% block title %}{{ app.user.username}}'s Dashboard{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#readyToApprove, #inProgress, #approved, #completed').DataTable();
            
            $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
            $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            
            $(".paginate_button").on( "click", function() {
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

            $(document).on('click', '.paginate_button', function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

        });
    </script>
{% endblock %}

{% block body %}

    {#    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#{{ 'Logged in as:'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center">Welcome, {{ app.user.username}}!</h1>
            
            {% if not (is_granted('ROLE_HR_ADMIN') or is_granted('ROLE_IO_ADMIN') or is_granted('ROLE_FL_ADMIN') or is_granted('ROLE_SUPER_ADMIN'))%}  
            
                {% if studentFormOnes is empty %} 
                    <div class="row center">
                        <h5 class="header col s12 light">You don't have any active Internship Learning Agreements</h5>
                    </div>
                {% endif %}
                <div class="row center">
                    <a href="{{ path('studentformone_new') }}" id="download-button" class="btn-large waves-effect waves-light landing-btn-color">Begin New Learning Agreement</a>
                </div>
                <br><br>
            {% endif %}

        </div>
    </div>
    {#<h1>Studentformones list</h1>#}
    {% if studentFormOnes is not empty %} 
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card-panel">
                    <table class="highlight striped responsive-table" id="inProgress">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Username</th>
                                <th>Cwid</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for studentFormOne in studentFormOnes %}
                            <tr>
                                <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}">
                                <td>{{ studentFormOne.firstName }}</td>
                                <td>{{ studentFormOne.lastName }}</td>
                                <td>{{ studentFormOne.userName }}</td>
                                <td>{{ studentFormOne.cWID }}</td>
                                </a>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}" class="waves-effect waves-light btn show">show</a></td>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
