{% extends 'innerbase.html.twig' %}

{% block title %}{{ app.user.username}}'s Dashboard{% endblock %}

{##}
{% block javascripts %} 
    <script>
        $(document).ready(function(){
            $("#export").click(function(){
                var rows = [["Firstname", "Lastname", "Username", "Cwid"]];
                {% for studentFormOne in studentFormOnes %}
                    var stuArray = ["{{ studentFormOne.firstName }}", "{{ studentFormOne.lastName }}", "{{ studentFormOne.userName }}", "{{ studentFormOne.cWID }}"];
                    rows.push(stuArray);
                {% endfor %}
                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   let row = rowArray.join(",");
                   csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                
                var d = new Date();
                var month = d.getMonth()+1;
                var day = d.getDate();
                var specDate = d.getFullYear() + '/' +
                    (month<10 ? '0' : '') + month + '/' +
                    (day<10 ? '0' : '') + day;
                var csv = 'studentExport_' + specDate + '.csv';
                
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", csv);
                document.body.appendChild(link); // Required for FF
                
                link.click(); // This will download the data file named "my_data.csv".
            });
        });
    </script>
{% endblock %}
{##}

{% block body %}

    {#    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#{{ 'Logged in as:'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center">Welcome, {{ app.user.username}}!</h1>
            
            {% if not (is_granted('ROLE_HR_ADMIN') or is_granted('ROLE_IO_ADMIN') or is_granted('ROLE_FL_ADMIN') or is_granted('ROLE_SUPER_ADMIN'))%}  
            
                {% if studentFormOnes is empty %} 
                    <div class="row center">
                        <h5 class="header col s12 light">You don't have any active Internship Learning Agreements</h5>
                    </div>
                {% endif %}
                <div class="row center">
                    <a href="{{ path('studentformone_new') }}" id="download-button" class="btn-large waves-effect waves-light landing-btn-color">Begin New Learning Agreement</a>
                </div>
                <br><br>
            {% endif %}

        </div>
    </div>
    {#<h1>Studentformones list</h1>#}
    {% if studentFormOnes is not empty %} 
        {#
        <div class="section" id="nav-backBtn">
            <ul>
                <li>
                    <button id="export" class="btn waves-effect waves-light button-back" >Export File</button>
                //    <a href="{{ path('export_file', { 'id': studentFormOne.id }) }}" class="btn waves-effect waves-light button-back">Export file</a> 
                </li>
            </ul>
        </div>
        #}
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card-panel">
                    <table>
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Username</th>
                                <th>Cwid</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for studentFormOne in studentFormOnes %}
                            <tr>
                                <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}">
                                <td>{{ studentFormOne.firstName }}</td>
                                <td>{{ studentFormOne.lastName }}</td>
                                <td>{{ studentFormOne.userName }}</td>
                                <td>{{ studentFormOne.cWID }}</td>
                                </a>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {#<ul>#}
    {#    <li>#}
    {#        <a href="{{ path('studentformone_new') }}">Create a new studentFormOne</a>#}
    {#    </li>#}
    {#</ul>#}
{% endblock %}