{% extends 'innerbase.html.twig' %}

{% block title %}Student Form One Information{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function(){
            $("#export").click(function(){
                const rows = [["{{ studentFormOne.firstName }}", "{{ studentFormOne.lastName }}", "{{ studentFormOne.userName }}", "{{ studentFormOne.cWID }}"]];
                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   let row = rowArray.join(",");
                   csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                
                var d = new Date();
                var month = d.getMonth()+1;
                var day = d.getDate();
                var specDate = d.getFullYear() + '/' +
                    (month<10 ? '0' : '') + month + '/' +
                    (day<10 ? '0' : '') + day;
                var csv = 'studentExport_' + specDate + '.csv';
                
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", csv);
                document.body.appendChild(link); // Required for FF
                
                link.click(); // This will download the data file named "my_data.csv".
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="header center">Student Form</h1>
    
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('studentformone_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
            <li>
                <button id="export" class="btn waves-effect waves-light button-back" >Export File</button>
               {# <a href="{{ path('export_file', { 'id': studentFormOne.id }) }}" class="btn waves-effect waves-light button-back">Export file</a> #}
            </li>
            <li>
                <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}" class="btn waves-effect waves-light button-back">Edit</a>
            </li>
        </ul>
    </div>
    
    <h2>Student Form One Information</h2>    
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>{{ studentFormOne.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ studentFormOne.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Username</th>
                            <td>{{ studentFormOne.userName }}</td>
                        </tr>
                        <tr>
                            <th>CWID (Winthrop ID Number)</th>
                            <td>{{ studentFormOne.cWID }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Email Address</th>
                            <td>{{ studentFormOne.emailAddress }}</td>
                        </tr>
                        <tr>
                            <th>Internship Class</th>
                            <td>{{ studentFormOne.classEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Number of Credits for Internship</th>
                            <td>{{ studentFormOne.numCredits }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ studentFormOne.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Work Authorization (US Citizen or Permanent Resident)</th>
                            <td>{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>{{ studentFormOne.major }}</td>
                        </tr>
                        <tr>
                            <th>Minor</th>
                            <td>{{ studentFormOne.minor }}</td>
                        </tr>
                        <tr>
                            <th>Faculty Liaison</th>
                            <td>{{ studentFormOne.facultyLiaison }}</td>
                        </tr>
                        <tr>
                            <th>Semesterenrolled</th>
                            <td>{{ studentFormOne.semesterEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Year Enrolled</th>
                            <td>{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Semester Graduating</th>
                            <td>{{ studentFormOne.semesterGrad }}</td>
                        </tr>
                        <tr>
                            <th>Year Graduating</th>
                            <td>{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Name</th>
                            <td>{{ studentFormOne.siteSuperName }}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Email Address</th>
                            <td>{{ studentFormOne.siteSuperEmail }}</td>
                        </tr>
                        <tr>
                            <th>Submitted Date</th>
                            <td>{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Site Supervisor Form Information</h2>   
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if siteSupervisorForm %}
                <table>
                    <tbody>
                        <tr>
                            <th>For Profit?</th>
                            <td>{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Organization Name</th>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                        </tr>
                        <tr>
                            <th>Business License Number or FEIN #</th>
                            <td>{{ siteSupervisorForm.businessLicenseNum }}</td>
                        </tr>
                        <tr>
                            <th>State Issued</th>
                            <td>{{ siteSupervisorForm.stateIssued }}</td>
                        </tr>
                        <tr>
                            <th>Direct Internship Supervisor</th>
                            <td>{{ siteSupervisorForm.directInternshipSupervisor }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor's Title</th>
                            <td>{{ siteSupervisorForm.supervisorsTitle }}</td>
                        </tr>
                        <tr>
                            <th>Physical Aaddress</th>
                            <td>{{ siteSupervisorForm.physicalAddress }}</td>
                        </tr>
                        <tr>
                            <th>Available for Site Visit?</th>
                            <td>{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Phone</th>
                            <td>{{ siteSupervisorForm.supervisorPhone }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Email</th>
                            <td>{{ siteSupervisorForm.supervisorEmail }}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected Start Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected End Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Weeks</th>
                            <td>{{ siteSupervisorForm.totalWeeks }}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Hours/Week</th>
                            <td>{{ siteSupervisorForm.estimatedHours }}</td>
                        </tr>
                        <tr>
                            <th>Paid?</th>
                            <td>{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary or Stipend</th>
                            <td>{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary Amount</th>
                            <td>{{ siteSupervisorForm.salary }}</td>
                        </tr>                        
                        <tr>
                            <th>Stipend Amount</th>
                            <td>{{ siteSupervisorForm.stipend }}</td>
                        </tr>
                        <tr>
                            <th>Intern Tasks/Role</th>
                            <td>{{ siteSupervisorForm.task }}</td>
                        </tr>
                        <tr>
                            <th>Specific Projects Intern will work on/assist with</th>
                            <td>{{ siteSupervisorForm.projects }}</td>
                        </tr>
                        <tr>
                            <th>Learning Outcomes for Intern</th>
                            <td>{{ siteSupervisorForm.outcomes }}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments Regarding Internship</th>
                            <td>{{ siteSupervisorForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{{ siteSupervisorForm.submitDate }}</td>
                        </tr>
                        <tr>
                            <th>Signature</th>
                            <td>{{ siteSupervisorForm.digitalSignature }}</td>
                        </tr>
                    </tbody>
                </table>
                {%else%}
                
                Waiting on Site Supervisor Form.
                
                {%endif%}
            </div>
        </div>
    </div>
    
    <h2>HR Form Information</h2> 
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if hRForm %}
                <table>
                    <tbody>
                        <tr>
                            <th>Did Student Complete TitleIX Training?</th>
                            <td>{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approved Date</th>
                            <td>{% if hRForm.approveDate %}{{ hRForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                                {%else%}
                
                Waiting on HR Form.
                
                {%endif%}
            </div>
        </div>
    </div>

    <h2>Student Form Two Information</h2>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if studentFormTwo %}
                <table>
                    <tbody>
                        <tr>
                            <th>Explain how this internship will add to your educational experience at Winthrop University</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>What professional and personal goals do you hope to achieve while at this internship? (Be specific)</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{% if studentFormTwo.submitDate %}{{ studentFormTwo.submitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                {%else%}
                
                Waiting on Student Form Two.
                    {% if app.user.username == studentFormOne.userName %}
                        <form action="{{ path('studentformtwo_new') }}" method="GET">
                            <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />
                            <input type="submit" class="createStudForm2" value="Complete Student Form Two">
                        </form>
                    {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
    
{% if studentFormOne.workAuthorization == false %}
    <h2>International Office Form Information</h2> 
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if ioForm %}
                <table>
                    <tbody>
                        <tr>
                            <th>Approve</th>
                            <td>{% if ioForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments</th>
                            <td>{{ ioForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Approved Date</th>
                            <td>{% if ioForm.approveDate %}{{ ioForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ ioForm.digitalSignature }}</td>
                        </tr>
                    </tbody>
                </table>
                {%else%}
                
                Waiting on International Office Form.
                
                {%endif%}
            </div>
        </div>
    </div>
{%endif%}

    <h2>Faculty Liaison Form Information</h2>   

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if flForm %}
                <table>
                    <tbody>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ flForm.legalName }}</td>
                        </tr>
                        <tr>
                            <th>Does student need a completed Internship Learning Agreement?</th>
                            <td>{% if flForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Midpoint Evaluation?</th>
                            <td>{% if flForm.midPointEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does Internship Site Require a  Site Visit?</th>
                            <td>{% if flForm.siteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Final Report?</th>
                            <td>{% if flForm.finalReport %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Final Evaluation?</th>
                            <td>{% if flForm.finalEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve</th>
                            <td>{% if flForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve Date</th>
                            <td>{% if flForm.approveDate %}{{ flForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                {%else%}
                
                Waiting on Faculty Liaison Form.
                
                {%endif%}
            </div>
        </div>
    </div>
    
    <h2>Career Consultant Form Information</h2>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {% if ccForm %}
                <table>
                    <tbody>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ ccForm.legalName }}</td>
                        </tr>
                        <tr>
                            <th>Approve</th>
                            <td>{% if ccForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve Date</th>
                            <td>{% if ccForm.approveDate %}{{ ccForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                {%else%}
                
                Waiting on Career Consultant Form.
                
                {%endif%}
            </div>
        </div>
    </div>    

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="del-btn" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
