{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">Hrform list</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                {#<table>#}
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">First Name</th>
                            {#<th>Firstname</th>#}
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Winthrop ID Number (CWID)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnes %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ studentFormOne.firstName }}</td>
                            {#<td>{{ studentFormOne.firstName }}</td>#}
                            <td>{{ studentFormOne.lastName }}</td>
                            <td>{{ studentFormOne.emailAddress}}</td>
                            <td>{{ studentFormOne.cWID }}</td>
                            {#<td>#}
                            {#    <ul>#}
                            {#        <li>#}
                            {#            <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}">show</a>#}
                            {#        </li>#}
                            {#        <li>#}
                            {#            <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}">edit</a>#}
                            {#        </li>#}
                            {#    </ul>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Completedtitleix</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hRForm in hRForms %}
                        <tr>
                            <td><a href="{{ path('hrform_show', { 'id': hRForm.id }) }}">{{ hRForm.id }}</a></td>
                            <td>{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('hrform_show', { 'id': hRForm.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('hrform_edit', { 'id': hRForm.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('hrform_new') }}">Create a new hRForm</a>
        </li>
    </ul>
{% endblock %}
