{% extends 'innerbase.html.twig' %}

{% block title %}HR Form Dashboard{% endblock %}

{% block body %}
    <h1 class="header center">HR Form Dashboard</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Student Applications to Approve</h2>             
                <form id="hrAction" action="{{ path('hrform_new') }}" method="GET">
                    <table class="mdl-data-table mdl-shadow--2dp" id="hrTable">
                        <thead>
                            <tr>
                                <th>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                                        <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
                                    </label>
                                </th>
                                <th class="mdl-data-table__cell--non-numeric">Submitted Date</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Winthrop ID Number (CWID)</th>
                                <th>Internship Company Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for studentFormOne in studentFormOnes %}
                            <tr>
                                <td>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="row[{{ loop.index }}]">
                                        <input type="checkbox" id="row[{{ loop.index }}]" name="studentInfo[]" class="mdl-checkbox__input"  value="{{ studentFormOne.id }}"/>
                                    </label>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ studentFormOne.firstName }}</td>
                                <td>{{ studentFormOne.lastName }}</td>
                                <td>{{ studentFormOne.emailAddress}}</td>
                                <td>{{ studentFormOne.cWID }}</td>
                                <td>{{ studentFormOne.organizationName }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" class="viewHR" value="Approve Applications">
                </form> 
            </div>
        </div>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Approved Student Applications</h2>                
                <table class="highlight striped responsive-table" id="approved">
                    <thead>
                        <tr>
                            <td>Approved Date</th>
                            <td>First Name</th>
                            <td>Last Name</th>
                            <td>Email Address</th>
                            <td>Winthrop ID Number (CWID)</th>
                            <td>Internship Company Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hRForm in hRForms %}
                        <tr>
                            <td>{% if hRForm.approveDate %}{{ hRForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ hRForm.firstName }}</td>
                            <td>{{ hRForm.lastName }}</td>
                            <td>{{ hRForm.emailAddress}}</td>
                            <td>{{ hRForm.cWID }}</td>
                            <td>{{ hRForm.organizationName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/rmCheckBox.css">
    
<style type="text/css">
#approved th {
    font-weight:bold;
}
</style>    
{% endblock %}

{% block javascripts %}    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
    <script type="text/javascript">
        var table = document.querySelector('table');
        var headerCheckbox = table.querySelector('thead .mdl-data-table__select input');
        var boxes = table.querySelectorAll('tbody .mdl-data-table__select');
        var rows = table.querySelectorAll('tbody tr');
        
        var headerCheckHandler = function(event) {
          if (event.target.checked) {
            for (var i = 0, length = boxes.length; i < length; i++) {
                boxes[i].MaterialCheckbox.check();
                rows[i].classList.add('is-selected');
            }
          }else {
            for (var i = 0, length = boxes.length; i < length; i++) {
                boxes[i].MaterialCheckbox.uncheck();
                rows[i].classList.remove('is-selected');
            }
          }
        };
        headerCheckbox.addEventListener('change', headerCheckHandler);
        
        $(document).ready(function() {
            $('#hrTable, #approved').DataTable();
        
            $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
            $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            
            $(".paginate_button").click(function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

            $(document).on('click', '.paginate_button', function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

        });
    </script>
{% endblock %}
