{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">HR Form list</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {#<form method="post" action="{{ path('hrform_new') }}"></form>#}
                <form id="hrAction" action="{{ path('hrform_new') }}" method="GET">
                    {#<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" id="hrTable">#}
                    <table class="mdl-data-table mdl-shadow--2dp" id="hrTable">
                    {#<table>#}
                        <thead>
                            <tr>
                                <th>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
                                        <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
                                    </label>
                                </th>
                                <th class="mdl-data-table__cell--non-numeric">Submitted Date</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Winthrop ID Number (CWID)</th>
                                <th>Internship Company Name</th>
                                    {#<ul class="flexRow">#}
                                    {#    <li>First Name</li>#}
                                    {#    <li>Last Name</li>#}
                                    {#    <li>Email Address</li>#}
                                    {#    <li>Winthrop ID Number (CWID)</li>#}
                                    {#    <li>Internship Company Name</li>#}
                                    {#</ul>#}
                                {#</th>#}
                            </tr>
                        </thead>
                        <tbody>
                        {% for studentFormOne in studentFormOnes %}
                            <tr>
                                <td>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="row[{{ loop.index }}]">
                                        <input type="checkbox" id="row[{{ loop.index }}]" name="studentInfo[]" class="mdl-checkbox__input"  value="{{ studentFormOne.id }}"/>
                                    </label>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ studentFormOne.firstName }}</td>
                                <td>{{ studentFormOne.lastName }}</td>
                                <td>{{ studentFormOne.emailAddress}}</td>
                                <td>{{ studentFormOne.cWID }}</td>
                                <td>{{ studentFormOne.organizationName }}</td>
                                {#<td class="mdl-data-table__cell--non-numeric">#}
                                    {#<input type="hidden" name="studentInfo[]" value="{{ studentFormOne.id }}" />#}
                                {#    <ul class="flexRow">#}
                                {#        <li>{{ studentFormOne.firstName }}</li>#}
                                {#        <li>{{ studentFormOne.lastName }}</li>#}
                                {#        <li>{{ studentFormOne.emailAddress}}</li>#}
                                {#        <li>{{ studentFormOne.cWID }}</li>#}
                                {#        <li>{{ studentFormOne.organizationName }}</li>#}
                                {#    </ul>#}
                                {#</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" name="submit" value="Approve Applications">
                </form> 
            </div>
        </div>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            <td>Approved Date</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email Address</td>
                            <td>Winthrop ID Number (CWID)</td>
                            <td>Internship Company Name</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hRForm in hRForms %}
                        <tr>
                            <td>{% if hRForm.approveDate %}{{ hRForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ hRForm.firstName }}</td>
                            <td>{{ hRForm.lastName }}</td>
                            <td>{{ hRForm.emailAddress}}</td>
                            <td>{{ hRForm.cWID }}</td>
                            <td>{{ hRForm.organizationName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {#<ul>#}
    {#    <li>#}
    {#        <a href="{{ path('hrform_new') }}">Create a new hRForm</a>#}
    {#    </li>#}
    {#</ul>#}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/rmCheckBox.css">
{% endblock %}

{% block javascripts %}    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
    <script type="text/javascript">
        var table = document.querySelector('table');
        var headerCheckbox = table.querySelector('thead .mdl-data-table__select input');
        var boxes = table.querySelectorAll('tbody .mdl-data-table__select');
        var rows = table.querySelectorAll('tbody tr');
        
        var headerCheckHandler = function(event) {
          if (event.target.checked) {
            for (var i = 0, length = boxes.length; i < length; i++) {
                boxes[i].MaterialCheckbox.check();
                rows[i].classList.add('is-selected');
            }
          }else {
            for (var i = 0, length = boxes.length; i < length; i++) {
                boxes[i].MaterialCheckbox.uncheck();
                rows[i].classList.remove('is-selected');
            }
          }
        };
        headerCheckbox.addEventListener('change', headerCheckHandler);
    
    
        // var table = document.querySelector('table');
        // var headerCheckbox = table.querySelector('thead .mdl-data-table__select input');
        // var boxes = table.querySelectorAll('tbody .mdl-data-table__select');
        // var headerCheckHandler = function(event) {
        //   if (event.target.checked) {
        //     for (var i = 0, length = boxes.length; i < length; i++) {
        //       boxes[i].MaterialCheckbox.check();
        //       boxes[i].MaterialCheckbox.updateClasses();
        //     }
        //   } else {
        //     for (var i = 0, length = boxes.length; i < length; i++) {
        //       boxes[i].MaterialCheckbox.uncheck();
        //       boxes[i].MaterialCheckbox.updateClasses();
        //     }
        //   }
        // };
        // headerCheckbox.addEventListener('change', headerCheckHandler);
        // $(document).ready(function(){
        // //     $("input[name=submit]").click(function(){
        // //         if (!$("tr").hasClass("is-selected")) {
        // //           $("tr.is-selected").find("input").removeAttr( "value" );  
        // //         }
        // //     });
        // // });
        
        //     $('#hrAction').submit(function(){
        //         $('#hrTable > tbody  > tr').each(function() {
        //             if(!$("tr").hasClass("is-selected")) {
        //             // if($("tr:not([is-selected])")){
        //                 // $("tr").removeClass("is-selected");
        //                 // $("tr:not([is-selected]) > td > input").remove(); 
        //                 $("tr:not([is-selected]) > td > input").val("");
        //             }
        //         });
        //     });
        // });
    </script>
{% endblock %}
