{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">Users list</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                            <td>
                                <ul>
                                    {% for item in user.roles %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                                {#<a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.roles }}</a></td>#}
                            {#<td>#}
                            {#    {% if is_granted('ROLE_STUDENT') %}#}
                            {#        Student#}
                            {#    {% elseif is_granted('ROLE_HR_ADMIN') %}#}
                            {#        HR Admin#}
                            {#    {% elseif is_granted('ROLE_IO_ADMIN') %}#}
                            {#        International Office Admin#}
                            {#    {% elseif is_granted('ROLE_FL_ADMIN') %}#}
                            {#        Faculty Liaison#}
                            {#    {% elseif is_granted('ROLE_SUPER_ADMIN') %}#}
                            {#        Super Admin#}
                            {#    {% else %}#}
                            {#        Anonymous#}
                            {#    {% endif %}#}
                            {#</td>#}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
