{% extends 'innerbase.html.twig' %}

{% block title %}International Office Forms Dashboard{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function() {
            $('#readyToApprove, #inProgress, #approved, #completed').DataTable();
        
            $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
            $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            
            $(".paginate_button").click(function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="header center">International Office Forms Dashboard</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Student Applications to Approve</h2>
                <table class="highlight striped responsive-table" id="readyToApprove">
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>View Application</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnes %}
                        <tr>
                            <td>{{ studentFormOne.firstName }}</td>
                            <td>{{ studentFormOne.lastName }}</td>
                            <td>{{ studentFormOne.emailAddress}}</td>
                            <td>{{ studentFormOne.cWID }}</td>
                            <td>{{ studentFormOne.organizationName }}</td>
                            <td>
                                <form action="{{ path('internationalofficeform_new') }}" method="GET">
                                    <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />
                                    <input type="submit" name="submit" value="View Application">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>                
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Approved Student Applications</h2>
                <table class="highlight striped responsive-table" id="approved">
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>Application Actions</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for internationalOfficeForm in internationalOfficeForms %}
                        <tr>
                            <td>{{ internationalOfficeForm.firstName }}</td>
                            <td>{{ internationalOfficeForm.lastName }}</td>
                            <td>{{ internationalOfficeForm.emailAddress}}</td>
                            <td>{{ internationalOfficeForm.cWID }}</td>
                            <td>{{ internationalOfficeForm.organizationName }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('internationalofficeform_show', { 'id': internationalOfficeForm.id }) }}" class="waves-effect waves-light btn show">show</a></td>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
