{% extends 'innerbase.html.twig' %}

{% block title %}International Office Form{% endblock %}

{% block body %}
    <h1 class="header center">International Office Form Approval</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
            <a href="{{ path('internationalofficeform_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
        </ul>
    </div>
        <h2>Student Information</h2>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>{{ studentFormOne.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ studentFormOne.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Username</th>
                            <td>{{ studentFormOne.userName }}</td>
                        </tr>
                        <tr>
                            <th>CWID (Winthrop ID Number)</th>
                            <td>{{ studentFormOne.cWID }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Email Address</th>
                            <td>{{ studentFormOne.emailAddress }}</td>
                        </tr>
                        <tr>
                            <th>Internship Class</th>
                            <td>{{ studentFormOne.classEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Number of Credits for Internship</th>
                            <td>{{ studentFormOne.numCredits }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ studentFormOne.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Work Authorization (US Citizen or Permanent Resident)</th>
                            <td>{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>{{ studentFormOne.major }}</td>
                        </tr>
                        <tr>
                            <th>Minor</th>
                            <td>{{ studentFormOne.minor }}</td>
                        </tr>
                        <tr>
                            <th>Faculty Liaison</th>
                            <td>{{ studentFormOne.facultyLiaison }}</td>
                        </tr>
                        <tr>
                            <th>Semester Enrolled</th>
                            <td>{{ studentFormOne.semesterEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Year Enrolled</th>
                            <td>{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Semester Graduating</th>
                            <td>{{ studentFormOne.semesterGrad }}</td>
                        </tr>
                        <tr>
                            <th>Year Graduating</th>
                            <td>{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Name</th>
                            <td>{{ studentFormOne.siteSuperName }}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Email Address</th>
                            <td>{{ studentFormOne.siteSuperEmail }}</td>
                        </tr>
                        <tr>
                            <th>Submitted Date</th>
                            <td>{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>For Profit?</th>
                            <td>{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Organization Name</th>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                        </tr>
                        <tr>
                            <th>Business License Number or FEIN #</th>
                            <td>{{ siteSupervisorForm.businessLicenseNum }}</td>
                        </tr>
                        <tr>
                            <th>State Issued</th>
                            <td>{{ siteSupervisorForm.stateIssued }}</td>
                        </tr>
                        <tr>
                            <th>Direct Internship Supervisor</th>
                            <td>{{ siteSupervisorForm.directInternshipSupervisor }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor's Title</th>
                            <td>{{ siteSupervisorForm.supervisorsTitle }}</td>
                        </tr>
                        <tr>
                            <th>Physical Aaddress</th>
                            <td>{{ siteSupervisorForm.physicalAddress }}</td>
                        </tr>
                        <tr>
                            <th>Available for Site Visit?</th>
                            <td>{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Phone</th>
                            <td>{{ siteSupervisorForm.supervisorPhone }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Email</th>
                            <td>{{ siteSupervisorForm.supervisorEmail }}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected Start Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected End Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Weeks</th>
                            <td>{{ siteSupervisorForm.totalWeeks }}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Hours/Week</th>
                            <td>{{ siteSupervisorForm.estimatedHours }}</td>
                        </tr>
                        <tr>
                            <th>Paid?</th>
                            <td>{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary or Stipend</th>
                            <td>{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary Amount</th>
                            <td>{{ siteSupervisorForm.salary }}</td>
                        </tr>                        
                        <tr>
                            <th>Stipend Amount</th>
                            <td>{{ siteSupervisorForm.stipend }}</td>
                        </tr>
                        <tr>
                            <th>Intern Tasks/Role</th>
                            <td>{{ siteSupervisorForm.task }}</td>
                        </tr>
                        <tr>
                            <th>Specific Projects Intern will work on/assist with</th>
                            <td>{{ siteSupervisorForm.projects }}</td>
                        </tr>
                        <tr>
                            <th>Learning Outcomes for Intern</th>
                            <td>{{ siteSupervisorForm.outcomes }}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments Regarding Internship</th>
                            <td>{{ siteSupervisorForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{{ siteSupervisorForm.submitDate }}</td>
                        </tr>
                        <tr>
                            <th>Signature</th>
                            <td>{{ siteSupervisorForm.digitalSignature }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Approve Application" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
