{% extends 'base.html.twig' %}

{% block body %}
    <h1>Internationalofficeform</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ internationalOfficeForm.id }}</td>
            </tr>
            <tr>
                <th>Approve</th>
                <td>{% if internationalOfficeForm.approve %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Approvedate</th>
                <td>{% if internationalOfficeForm.approveDate %}{{ internationalOfficeForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Digitalsignature</th>
                <td>{{ internationalOfficeForm.digitalSignature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('internationalofficeform_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('internationalofficeform_edit', { 'id': internationalOfficeForm.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
