{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>Faculty Liaison List</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Student Applications to Approve</h2>
                <table>
                    <thead>
                        <tr>
                            <td>
                                <table>
                                    <th>Student Name</th>
                                    <th>Student Email Address</th>
                                    <th>Student CWID</th>
                                    <th>Organization Name</th>
                                {% if is_granted('ROLE_SUPER_ADMIN')%}
                                    <th>Student's Internship Class</th>
                                    <th>Faculty Liaison</th>
                                {% endif %} 
                                    <th>View Application</th>
                                </table>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnesReady %}
                        <tr>
                            <td>
                                <form action="{{ path('facultyliaisonform_new') }}" method="GET">
                                    <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />
                                    <table>
                                        <td>{{ studentFormOne.firstName }} {{ studentFormOne.lastName }}</td>
                                        <td>{{ studentFormOne.emailAddress}}</td>
                                        <td>{{ studentFormOne.cWID }}</td>
                                        <td>{{ studentFormOne.organizationName }}</td>
                                    {% if is_granted('ROLE_SUPER_ADMIN')%}                                          
                                        {#<td>#}
                                        {#    <ul>#}
                                        {#        <li>#}
                                        {#            <a href="{{ path('studentformone_show', { 'id': studentFormOne.id }) }}">show</a>#}
                                        {#        </li>#}
                                        {#        <li>#}
                                        {#            <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}">edit</a>#}
                                        {#        </li>#}
                                        {#    </ul>#}
                                        {#</td>#}
                                        <td>{{ studentFormOne.classEnrolled }}</td>
                                        <td>{{ studentFormOne.facultyLiaison }}</td>
                                    {% endif %}   
                                        <td>
                                            {#<ul>#}
                                            {#    <li>#}
                                            {#        <a href="{{ path('internationalofficeform_new') }}">Create a new internationalOfficeForm</a>#}
                                            {#    </li>#}
                                            {#</ul>#}
                                            <input type="submit" name="submit" value="View Application">
                                        </td>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">In-Progress Student Applications</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Last Updated</th>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>Last User</th>
                            <th>View Student Form One</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for incompleteStudentForm in studentFormOnes %}
                        <tr>
                            <td>{% if incompleteStudentForm.lastUpdated %}{{ incompleteStudentForm.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ incompleteStudentForm.firstName }}</td>
                            <td>{{ incompleteStudentForm.lastName }}</td>
                            <td>{{ incompleteStudentForm.emailAddress}}</td>
                            <td>{{ incompleteStudentForm.cWID }}</td>
                            <td>{{ incompleteStudentForm.organizationName }}</td>
                            <td>{{ incompleteStudentForm.lastUser }}</td>
                            <td><a href="{{ path('studentformone_show', { 'id': incompleteStudentForm.id }) }}">show</a></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Approved Student Applications</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>Application Actions</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for facultyLiaisonForm in facultyLiaisonForms %}
                    {#    <tr>#}
                    {#        <td><a href="{{ path('facultyliaisonform_show', { 'id': facultyLiaisonForm.id }) }}">{{ facultyLiaisonForm.id }}</a></td>#}
                    {#        <td>{{ facultyLiaisonForm.legalName }}</td>#}
                    {#        <td>{% if facultyLiaisonForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.midPointEvaluation %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.siteVisit %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.finalReport %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.finalEvaluation %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.approve %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if facultyLiaisonForm.approveDate %}{{ facultyLiaisonForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#        <td>#}
                    {#            <ul>#}
                    {#                <li>#}
                    {#                    <a href="{{ path('facultyliaisonform_show', { 'id': facultyLiaisonForm.id }) }}">show</a>#}
                    {#                </li>#}
                    {#                <li>#}
                    {#                    <a href="{{ path('facultyliaisonform_edit', { 'id': facultyLiaisonForm.id }) }}">edit</a>#}
                    {#                </li>#}
                    {#            </ul>#}
                    {#        </td>#}
                    {#    </tr>#}
                    {#{% endfor %}#}
                    
                        <tr>
                            <td>{{ facultyLiaisonForm.firstName }}</td>
                            <td>{{ facultyLiaisonForm.lastName }}</td>
                            <td>{{ facultyLiaisonForm.emailAddress}}</td>
                            <td>{{ facultyLiaisonForm.cWID }}</td>
                            <td>{{ facultyLiaisonForm.organizationName }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('facultyliaisonform_show', { 'id': facultyLiaisonForm.id }) }}">show</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('facultyliaisonform_new') }}">Create a new facultyLiaisonForm</a>
        </li>
    </ul>
{% endblock %}
