{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>Facultyliaisonform</h1>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Firstname</th>
                            <td>{{ studentFormOne.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Lastname</th>
                            <td>{{ studentFormOne.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ studentFormOne.userName }}</td>
                        </tr>
                        <tr>
                            <th>Cwid</th>
                            <td>{{ studentFormOne.cWID }}</td>
                        </tr>
                        <tr>
                            <th>Emailaddress</th>
                            <td>{{ studentFormOne.emailAddress }}</td>
                        </tr>
                        <tr>
                            <th>Classenrolled</th>
                            <td>{{ studentFormOne.classEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Numcredits</th>
                            <td>{{ studentFormOne.numCredits }}</td>
                        </tr>
                        <tr>
                            <th>Phonenumber</th>
                            <td>{{ studentFormOne.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Workauthorization</th>
                            <td>{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>{{ studentFormOne.major }}</td>
                        </tr>
                        <tr>
                            <th>Minor</th>
                            <td>{{ studentFormOne.minor }}</td>
                        </tr>
                        <tr>
                            <th>Facultyliaison</th>
                            <td>{{ studentFormOne.facultyLiaison }}</td>
                        </tr>
                        <tr>
                            <th>Semesterenrolled</th>
                            <td>{{ studentFormOne.semesterEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Yearenrolled</th>
                            <td>{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Semestergrad</th>
                            <td>{{ studentFormOne.semesterGrad }}</td>
                        </tr>
                        <tr>
                            <th>Yeargrad</th>
                            <td>{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Sitesupername</th>
                            <td>{{ studentFormOne.siteSuperName }}</td>
                        </tr>
                        <tr>
                            <th>Sitesuperemail</th>
                            <td>{{ studentFormOne.siteSuperEmail }}</td>
                        </tr>
                        <tr>
                            <th>Submitted Date</th>
                            <td>{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}" class="btn-large waves-effect waves-light landing-btn-color">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
    <h2>Internship Site Information</h2>
  
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>For Profit?</th>
                            <td>{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Organization Name</th>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                        </tr>
                        <tr>
                            <th>Business License Nummber or FEIN #</th>
                            <td>{{ siteSupervisorForm.businessLicenseNum }}</td>
                        </tr>
                        <tr>
                            <th>State Issued</th>
                            <td>{{ siteSupervisorForm.stateIssued }}</td>
                        </tr>
                        <tr>
                            <th>Direct Internship Supervisor</th>
                            <td>{{ siteSupervisorForm.directInternshipSupervisor }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor's Title</th>
                            <td>{{ siteSupervisorForm.supervisorsTitle }}</td>
                        </tr>
                        <tr>
                            <th>Physical Aaddress</th>
                            <td>{{ siteSupervisorForm.physicalAddress }}</td>
                        </tr>
                        <tr>
                            <th>Available for Site Visit?</th>
                            <td>{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Phone</th>
                            <td>{{ siteSupervisorForm.supervisorPhone }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Email</th>
                            <td>{{ siteSupervisorForm.supervisorEmail }}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected Start Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected End Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Weeks</th>
                            <td>{{ siteSupervisorForm.totalWeeks }}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Hours/Week</th>
                            <td>{{ siteSupervisorForm.estimatedHours }}</td>
                        </tr>
                        <tr>
                            <th>Paid?</th>
                            <td>{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary or Stipend</th>
                            <td>{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary Amount</th>
                            <td>{{ siteSupervisorForm.salary }}</td>
                        </tr>                        
                        <tr>
                            <th>Stipend Amount</th>
                            <td>{{ siteSupervisorForm.stipend }}</td>
                        </tr>
                        <tr>
                            <th>Intern Tasks/Role</th>
                            <td>{{ siteSupervisorForm.task }}</td>
                        </tr>
                        <tr>
                            <th>Specific Projects Intern will work on/assist with</th>
                            <td>{{ siteSupervisorForm.projects }}</td>
                        </tr>
                        <tr>
                            <th>Learning Outcomes for Intern</th>
                            <td>{{ siteSupervisorForm.outcomes }}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments Regarding Internship</th>
                            <td>{{ siteSupervisorForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{{ siteSupervisorForm.submitDate }}</td>
                        </tr>
                        <tr>
                            <th>Signature</th>
                            <td>{{ siteSupervisorForm.digitalSignature }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('sitesupervisorform_edit', { 'id': siteSupervisorForm.id }) }}" class="btn-large waves-effect waves-light landing-btn-color">Edit</a>
                            </td>
                        </tr>                          
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ hRForm.id }}</td>
                        </tr>
                        <tr>
                            <th>Completedtitleix</th>
                            <td>{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ studentFormTwo.id }}</td>
                        </tr>
                        <tr>
                            <th>Educationalexperience</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>Goals</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ facultyLiaisonForm.id }}</td>
                        </tr>
                        <tr>
                            <th>Legalname</th>
                            <td>{{ facultyLiaisonForm.legalName }}</td>
                        </tr>
                        <tr>
                            <th>Internshiplearningagreement</th>
                            <td>{% if facultyLiaisonForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Midpointevaluation</th>
                            <td>{% if facultyLiaisonForm.midPointEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Sitevisit</th>
                            <td>{% if facultyLiaisonForm.siteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Finalreport</th>
                            <td>{% if facultyLiaisonForm.finalReport %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Finalevaluation</th>
                            <td>{% if facultyLiaisonForm.finalEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Industry</th>
                            <td>{{ facultyLiaisonForm.internshipIndustry }}</td>
                        </tr>
                        <tr>
                            <th>Approve</th>
                            <td>{% if facultyLiaisonForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approvedate</th>
                            <td>{% if facultyLiaisonForm.approveDate %}{{ facultyLiaisonForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('facultyliaisonform_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facultyliaisonform_edit', { 'id': facultyLiaisonForm.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
