{% extends 'innerbase.html.twig' %}

{% block title %}Student Form Two List{% endblock %}

{% block body %}
    <h1>Studentformtwos list</h1>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <table>
                                    <th>Student First Name</th>
                                    <th>Student Last Name</th>
                                    <th>Complete Student Form Two</th>
                                </table>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnes %}
                        <tr class="noBorderBottom">
                            <td>
                                <form action="{{ path('studentformtwo_new') }}" method="GET">
                                    <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />
                                    <table>
                                        <td>{{ studentFormOne.firstName }}</td>
                                        <td>{{ studentFormOne.lastName }}</td>
                                        <td>
                                            <input type="submit" name="submit" value="View Application">
                                        </td>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            {#<th>Id</th>#}
                            <th>Educationalexperience</th>
                            <th>Goals</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormTwo in studentFormTwos %}
                        <tr>
                            {#<td><a href="{{ path('studentformtwo_show', { 'id': studentFormTwo.id }) }}">{{ studentFormTwo.id }}</a></td>#}
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                            <td>{{ studentFormTwo.goals }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('studentformtwo_show', { 'id': studentFormTwo.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('studentformtwo_edit', { 'id': studentFormTwo.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
