{% extends 'innerbase.html.twig' %}

{% block title %}Student Form Two List{% endblock %}

{% block body %}
    <h1 class="header center">Student Form Two Information</h1>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Complete Student Form Two</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnes %}
                        <tr>
                            <td>{{ studentFormOne.firstName }}</td>
                            <td>{{ studentFormOne.lastName }}</td>
                            <td>
                                <form action="{{ path('studentformtwo_new') }}" method="GET">
                                    <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />
                                    <input type="submit" name="submit" value="View Application">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <thead>
                        <tr>
                            <th>Explain how this internship will add to your educational experience at Winthrop University</th>
                            <th>What professional and personal goals do you hope to achieve while at this internship? (Be specific)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormTwo in studentFormTwos %}
                        <tr>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                            <td>{{ studentFormTwo.goals }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('studentformtwo_show', { 'id': studentFormTwo.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('studentformtwo_edit', { 'id': studentFormTwo.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
