{% extends 'innerbase.html.twig' %}

{% block title %}Student Form Two Information{% endblock %}

{% block body %}
    <h1 class="header center">Student Form Two</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Explain how this internship will add to your educational experience at Winthrop University</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>What professional and personal goals do you hope to achieve while at this internship? (Be specific)</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{% if studentFormTwo.submitDate %}{{ studentFormTwo.submitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('studentformtwo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('studentformtwo_edit', { 'id': studentFormTwo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
