{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>Studentformtwo</h1>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ studentFormTwo.id }}</td>
                        </tr>
                        <tr>
                            <th>Educationalexperience</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>Goals</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                        {#<tr>#}
                        {#    <th>SFO id</th>#}
                        {#    <td>{{ studentFormTwo.student_form_one_id }}</td>#}
                        {#</tr>#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('studentformtwo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('studentformtwo_edit', { 'id': studentFormTwo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
