{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1 class="header center">Studentformtwo</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('studentformone_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
            {#
            <li>
                <button id="export" class="btn waves-effect waves-light button-back" >Export File</button>
               // <a href="{{ path('export_file', { 'id': studentFormOne.id }) }}" class="btn waves-effect waves-light button-back">Export file</a> 
            </li>
            #}
            <li>
                <a href="{{ path('studentformone_edit', { 'id': studentFormTwo.id }) }}" class="btn waves-effect waves-light button-back">Edit</a>
            </li>
        </ul>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ studentFormTwo.id }}</td>
                        </tr>
                        <tr>
                            <th>Educationalexperience</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>Goals</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                        {#<tr>#}
                        {#    <th>SFO id</th>#}
                        {#    <td>{{ studentFormTwo.student_form_one_id }}</td>#}
                        {#</tr>#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul>
        {#
        <li>
            <a href="{{ path('studentformtwo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('studentformtwo_edit', { 'id': studentFormTwo.id }) }}">Edit</a>
        </li>
        #}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
