{% extends 'innerbase.html.twig' %}

{% block title %}Edit Faculty Liaison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../../assets/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../../../assets/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css">
{% endblock %}

{% block javascripts %}<script type="text/javascript" src="../../../assets/js/materialize.min.js"></script>{% endblock %}

{% block body %}
    <h1 class="header center">Edit Faculty Liaison</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('facultyliaisonlist_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
        </ul>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input onclick="M.toast({html: 'Changes Saved'})" type="submit" value="Save Changes" />
            {{ form_end(edit_form) }}
            </div>
        </div>
    </div> 
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="del-btn" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
