{% extends 'innerbase.html.twig' %}

{% block title %}Faculty Liaison Information{% endblock %}

{% block body %}
    <h1 class="header center">Faculty Liaison Information</h1>
    
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('facultyliaisonlist_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('facultyliaisonlist_new') }}" class="btn waves-effect waves-light button-back">Add New Faculty Member</a>
            </li>
            <li>
                <a href="{{ path('facultyliaisonlist_edit', { 'id': facultyLiaisonList.id }) }}" class="btn waves-effect waves-light button-back">Edit</a>
            </li>
        </ul>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ facultyLiaisonList.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ facultyLiaisonList.name }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ facultyLiaisonList.username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="del-btn" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
