{% extends 'innerbase.html.twig' %}

{% block title %}Site Supervisor Forms{% endblock %}

{% block body %}
    <h1 class="header center">Site Supervisor Dataset</h1>
 
     <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Awaiting Site Supervisor</h2>
                <table class="highlight striped responsive-table">
                    <thead>
                        <tr>
                            <th>Last Updated</th>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>View Student Form</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for incompleteStudentForm in studentFormOnesOnly %}
                        <tr>
                            <td>{% if incompleteStudentForm.lastUpdated %}{{ incompleteStudentForm.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ incompleteStudentForm.firstName }}</td>
                            <td>{{ incompleteStudentForm.lastName }}</td>
                            <td>{{ incompleteStudentForm.emailAddress}}</td>
                            <td>{{ incompleteStudentForm.cWID }}</td>
                            <td><a href="{{ path('studentformone_show', { 'id': incompleteStudentForm.id }) }}" class="waves-effect waves-light btn show">show</a></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                {#<table>#}
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Completed Date</th>
                            <th>Organization Name</th>
                            {#<th>Email Address</th>#}
                            {#<th>Winthrop ID Number (CWID)</th>#}
                            {#<th>Internship Company Name</th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for siteSupervisorForm in siteSupervisorForms %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ siteSupervisorForm.submitDate }}</td>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                            {#<td>{{ siteSupervisorForm.lastName }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
