{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>Sitesupervisorform edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('sitesupervisorform_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
