{% extends 'innerbase.html.twig' %}

{% block title %}Site Supervisor Form{% endblock %}

{% block body %}
    <h1 class="header center">Internship Site Information</h1>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Prospective Intern's First Name</th>
                            <td>{{ studentFormOne.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Last Name</th>
                            <td>{{ studentFormOne.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Email Address</th>
                            <td>{{ studentFormOne.emailAddress }}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Phone Number</th>
                            <td>{{ studentFormOne.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Semester/Year Enrolled</th>
                            <td>{{ studentFormOne.semesterEnrolled}}/{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Major</th>
                            <td>{{ studentFormOne.major }}</td>
                        </tr>
                        <tr>
                            <th>Prospective Intern's Faculty Liaison</th>
                            <td>{{ studentFormOne.facultyLiaison }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {#<input type="submit" value="Submit" />#}
                    <input type="submit" class="btn-large waves-effect waves-light landing-btn-color button-resize" value="Submit" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('sitesupervisorform_index') }}">Discard Changes</a>
        </li>
    </ul>
{% endblock %}
