{% extends 'innerbase.html.twig' %}

{% block title %}Career Consultant Dashboard{% endblock %}

{% block javascripts %} 
    <script>
        /*alert(5 + 6);*/
        $(document).ready(function(){
            $('#export').click(function(){
                {#
                var rows = [["Student Name", "Student Email", "Cwid", "Organization Name"]];
                {% for studentFormOne in studentFormOnesReady %}
                    var stuArray = ["{{ studentFormOne.firstName }} {{ studentFormOne.lastName }}", "{{ studentFormOne.emailAddress }}", "{{ studentFormOne.cWID }}", "{{ studentFormOne.organizationName }}"];
                    rows.push(stuArray);
                {% endfor %}
                rows.push(["",""]);
                rows.push(["Last Updated", "Student First Name", "Student Last Name", "Student Email Address", "Student CWID", "Organization Name", "Last User"]);
                #}
                var rows = [["Last Updated", "Student First Name", "Student Last Name", "Student Email Address", "Student CWID", "Organization Name", "Last User"]];
                {#
                {% for incompleteStudentForm in studentFormOnes %}
                    var inStuArr = ["{% if incompleteStudentForm.lastUpdated %}{{ incompleteStudentForm.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}"];
                    inStuArr.push("{{ incompleteStudentForm.firstName }}", "{{ incompleteStudentForm.lastName }}", "{{ incompleteStudentForm.emailAddress}}");
                    inStuArr.push("{{ incompleteStudentForm.cWID }}", "{{ incompleteStudentForm.organizationName }}", "{{ incompleteStudentForm.lastUser }}");
                    rows.push(inStuArr);
                {% endfor %}
                #}
                {#
                rows.push(["",""]);
                rows.push(["Student First Name", "Student Last Name", "Student Email Address", "Student CWID", "Organization Name"]);
                {% for careerConsultantForm in careerConsultantForms %}
                    var ccArray = ["{{ careerConsultantForm.firstName }}", "{{ careerConsultantForm.lastName }}", "{{ careerConsultantForm.emailAddress}}"];
                    ccArray.push("{{ careerConsultantForm.cWID }}, "{{ careerConsultantForm.organizationName }}");
                    rows.push(ccArray);
                {% endfor %}
                #}
                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   let row = rowArray.join(",");
                   csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                
                var d = new Date();
                var month = d.getMonth()+1;
                var day = d.getDate();
                var specDate = d.getFullYear() + '/' +
                    (month<10 ? '0' : '') + month + '/' +
                    (day<10 ? '0' : '') + day;
                var csv = 'ccExport_' + specDate + '.csv';
                
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", csv);
                document.body.appendChild(link); // Required for FF
                
                link.click(); // This will download the data file
            });
        });
        
        $(document).ready(function() {
            $('#readyToApprove, #inProgress, #approved, #completed').DataTable();
            
            $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
            $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            
            $(".paginate_button").on( "click", function() {
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

            $(document).on('click', '.paginate_button', function(){
                $(".paginate_button.previous").html("<i class=\"material-icons\">chevron_left</i>"); 
                $(".paginate_button.next").html("<i class=\"material-icons\">chevron_right</i>"); 
            });

        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="header center">Career Consultant Dashboard</h1>
    {#<div class="section" id="nav-backBtn">#}
    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('export_file')}}" class="btn waves-effect waves-light button-back">Export File</a>#}
              {#  <a href="{{ path('export_file', { 'id': studentFormOne.id }) }}" class="btn waves-effect waves-light button-back">Export file</a> #}
    {#        </li>#}
    {#    </ul>#}
    {#</div>#}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Student Applications to Approve</h2>
                <table class="highlight striped responsive-table" id="readyToApprove">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                        {% if is_granted('ROLE_SUPER_ADMIN')%}
                            {#<th>Student's Internship Class</th></th>#}
                            {#<th>Faculty Liaison</th>#}
                        {% endif %} 
                            <th>View Application</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentFormOne in studentFormOnesReady %}
                        <tr>
                            <td>{{ studentFormOne.firstName }} {{ studentFormOne.lastName }}</td>
                            <td>{{ studentFormOne.emailAddress}}</td>
                            <td>{{ studentFormOne.cWID }}</td>
                            <td>{{ studentFormOne.organizationName }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN')%}                                          
                            {#<td>{{ studentFormOne.classEnrolled }}</td>#}
                            {#<td>{{ studentFormOne.facultyLiaison }}</td>#}
                        {% endif %}   
                            <td>
                                <form action="{{ path('careerconsultantform_new') }}" method="GET">
                                    <input type="hidden" name="studentInfo" value="{{ studentFormOne.id }}" />                                            
                                    <input type="submit" name="submit" value="View Application">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">In-Progress Student Applications</h2>
                <table class="highlight striped responsive-table" id="inProgress">
                    <thead>
                        <tr>
                            <th>Last Updated</th>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>Last Updated By</th>
                            <th>View Student Form One</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for incompleteStudentForm in studentFormOnes %}
                        <tr>
                            <td>{% if incompleteStudentForm.lastUpdated %}{{ incompleteStudentForm.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ incompleteStudentForm.firstName }}</td>
                            <td>{{ incompleteStudentForm.lastName }}</td>
                            <td>{{ incompleteStudentForm.emailAddress}}</td>
                            <td>{{ incompleteStudentForm.cWID }}</td>
                            <td>{{ incompleteStudentForm.organizationName }}</td>
                            <td>{{ incompleteStudentForm.lastUser }}</td>
                            <td><a href="{{ path('studentformone_show', { 'id': incompleteStudentForm.id }) }}" class="waves-effect waves-light btn show">show</a></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
         
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <h2 class="header">Approved Student Applications</h2>
                <table class="highlight striped responsive-table" id="approved">
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Student Email Address</th>
                            <th>Student CWID</th>
                            <th>Organization Name</th>
                            <th>Application Actions</th>
                        </tr>
                    </thead>
                    </tbody>
                    {#{% for careerConsultantForm in careerConsultantForms %}#}
                    {#    <tr>#}
                    {#        <td><a href="{{ path('careerconsultantform_show', { 'id': careerConsultantForm.id }) }}">{{ careerConsultantForm.id }}</a></td>#}
                    {#        <td>{{ careerConsultantForm.legalName }}</td>#}
                    {#        <td>{% if careerConsultantForm.approve %}Yes{% else %}No{% endif %}</td>#}
                    {#        <td>{% if careerConsultantForm.approveDate %}{{ careerConsultantForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#        <td>#}
                    {#            <ul>#}
                    {#                <li>#}
                    {#                    <a href="{{ path('careerconsultantform_show', { 'id': careerConsultantForm.id }) }}">show</a>#}
                    {#                </li>#}
                    {#                <li>#}
                    {#                    <a href="{{ path('careerconsultantform_edit', { 'id': careerConsultantForm.id }) }}">edit</a>#}
                    {#                </li>#}
                    {#            </ul>#}
                    {#        </td>#}
                    {#    </tr>#}
                    {#{% endfor %}#}
                    
                    {% for careerConsultantForm in careerConsultantForms %}
                        <tr>
                            <td>{{ careerConsultantForm.firstName }}</td>
                            <td>{{ careerConsultantForm.lastName }}</td>
                            <td>{{ careerConsultantForm.emailAddress}}</td>
                            <td>{{ careerConsultantForm.cWID }}</td>
                            <td>{{ careerConsultantForm.organizationName }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('careerconsultantform_show', { 'id': careerConsultantForm.id }) }}" class="waves-effect waves-light btn show">show</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>     
{% endblock %}
