{% extends 'innerbase.html.twig' %}

{% block title %}Completed Student Internship Learning Agreement{% endblock %}

{% block javascripts %} 
    <script>
        /*alert(5 + 6);*/
        $(document).ready(function(){
            $('#export').click(function(){
                
                var rows = [["First Name", "Last Name", "Winthrop Username", "CWID/W-Number", "Winthrop Email Address", "Internship Class Enrolled", "Internship Class Course Credits", "Phone Number", "Work Authorization (US Citizen or Permanant Resident?)", "Major", "Minor", "Faculty Liaison", 
                "Semester Enrolled in Course", "Year Enrolled in Course", "Semester Graduating", "Year Graduating", "Site Supervisor's Name", "Site Supervisor's Email Address", "Submitted Date"]];
                
                var stuArray = ["{{ studentFormOne.firstName }}", "{{ studentFormOne.lastName }}", "{{ studentFormOne.userName }}",
                    "{{ studentFormOne.cWID }}", "{{ studentFormOne.emailAddress }}", "{{ studentFormOne.classEnrolled }}", "{{ studentFormOne.numCredits }}",
                      "{{ studentFormOne.phoneNumber }}", "{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}", "{{ studentFormOne.major }}",
                       "{{ studentFormOne.minor }}", "{{ studentFormOne.facultyLiaison }}", "{{ studentFormOne.semesterEnrolled }}",
                      "{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}",
                      "{{ studentFormOne.semesterGrad }}", "{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}",
                       "{{ studentFormOne.siteSuperName }}", "{{ studentFormOne.siteSuperEmail }}", "{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}"];
                rows.push(stuArray); 
                
                rows.push(["", ""]);
                
                rows.push(["For Profit?", "Organization Name", "Business License Nummber or FEIN #", "State Issued",
                "Direct Internship Supervisor", "Supervisor's Title", "Physical Address", "Site Visit?", "Supervisor Phone",
                "Supervisor Email", "Projected Start Date", "Projected End Date", "Estimated Total Weeks", "Estimated Total Hours/Week",
                "Paid?", "Salary or Stipend", "Salary Amount", "Stipend Amount", "Intern Tasks/Role", "Specific Projects", "Learning Outcomes",
                "Additional Comments", "Date Submitted", "Signature"]);
                var ssForm = ["{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}", "{{ siteSupervisorForm.organizationName }}", 
                "{{ siteSupervisorForm.businessLicenseNum }}", "{{ siteSupervisorForm.stateIssued }}", "{{ siteSupervisorForm.directInternshipSupervisor }}", 
                "{{ siteSupervisorForm.supervisorsTitle }}", "{{ siteSupervisorForm.physicalAddress }}", "{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}", 
                "{{ siteSupervisorForm.supervisorPhone }}", "{{ siteSupervisorForm.supervisorEmail }}", "{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}", 
                "{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}", 
                "{{ siteSupervisorForm.totalWeeks }}", "{{ siteSupervisorForm.estimatedHours }}", "{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}", 
                "{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}", 
                "{{ siteSupervisorForm.salary }}", "{{ siteSupervisorForm.stipend }}", "{{ siteSupervisorForm.task }}", 
                "{{ siteSupervisorForm.projects }}", "{{ siteSupervisorForm.outcomes }}", "{{ siteSupervisorForm.additionalComments }}", 
                "{{ siteSupervisorForm.submitDate }}", "{{ siteSupervisorForm.digitalSignature }}"];
                rows.push(ssForm);
                
                rows.push(["", ""]);
                
                rows.push(["Did Student Complete TitleIX Training?"]);
                var hrForm = ["{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}"];
                rows.push(hrForm);
                
                rows.push(["", ""]);
                
                rows.push(["Explain how this internship will add to your educational experience at Winthrop University", "What professional and personal goals do you hope to achieve while at this internship? (Be specific)"]);
                var stu2Form = ["{{ studentFormTwo.educationalExperience }}", "{{ studentFormTwo.goals }}"];
                rows.push(stu2Form);
                
                rows.push(["", ""]);
                
                rows.push(["Digital Signature", "Does student need a completed Internship Learning Agreement", "Does student need to complete a Midpoint Evaluation", "Does Internship Site Require a  Site Visit", "Does student need to complete a Final Report","Does student need to complete a Final Evaluation", "Approve", "Approve Date"]);
                var flForm = ["{{ facultyLiaisonForm.legalName }}", "{% if facultyLiaisonForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}", 
                "{% if facultyLiaisonForm.midPointEvaluation %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.siteVisit %}Yes{% else %}No{% endif %}", 
                "{% if facultyLiaisonForm.finalReport %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.finalEvaluation %}Yes{% else %}No{% endif %}", 
                "{% if facultyLiaisonForm.approve %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.approveDate %}{{ facultyLiaisonForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}"];
                rows.push(flForm);
                
                rows.push(["", ""]);
                
                rows.push(["Digital Signature", "Approved?", "Approve Date"]);
                var ccForm = ["{{ careerConsultantForm.legalName }}", "{% if careerConsultantForm.approve %}Yes{% else %}No{% endif %}", "{% if careerConsultantForm.approveDate %}{{ careerConsultantForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}"];
                rows.push(ccForm);
                
                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   let row = rowArray.join(",");
                   csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                
                var d = new Date();
                var month = d.getMonth()+1;
                var day = d.getDate();
                var specDate = d.getFullYear() + '/' +
                    (month<10 ? '0' : '') + month + '/' +
                    (day<10 ? '0' : '') + day;
                var csv = 'ccExport_' + specDate + '.csv';
                
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", csv);
                document.body.appendChild(link); // Required for FF
                
                link.click(); // This will download the data file
            });
            
            // Alt Settings, CSV File in Two Rows
            
            //  //CSV File Headers
                
            //     // SF1
            //     var rows = [["First Name", "Last Name", "Winthrop Username", "CWID/W-Number", "Winthrop Email Address", "Internship Class Enrolled", "Internship Class Course Credits", "Phone Number", "Work Authorization (US Citizen or Permanant Resident?)", "Major", "Minor", "Faculty Liaison", 
            //     "Semester Enrolled in Course", "Year Enrolled in Course", "Semester Graduating", "Year Graduating", "Site Supervisor's Name", "Site Supervisor's Email Address", "Submitted Date"]];
                
            //     // SSF
            //     rows.push(["For Profit?", "Organization Name", "Business License Nummber or FEIN #", "State Issued",
            //     "Direct Internship Supervisor", "Supervisor's Title", "Physical Address", "Site Visit?", "Supervisor Phone",
            //     "Supervisor Email", "Projected Start Date", "Projected End Date", "Estimated Total Weeks", "Estimated Total Hours/Week",
            //     "Paid?", "Salary or Stipend", "Salary Amount", "Stipend Amount", "Intern Tasks/Role", "Specific Projects", "Learning Outcomes",
            //     "Additional Comments", "Date Submitted", "Signature"]);
                
            //     // HR
            //     rows.push(["Did Student Complete TitleIX Training?"]);
                
            //     // SF2
            //     rows.push(["Explain how this internship will add to your educational experience at Winthrop University", "What professional and personal goals do you hope to achieve while at this internship? (Be specific)"]);
                
            //     // FL
                
            //     rows.push(["Digital Signature", "Does student need a completed Internship Learning Agreement", "Does student need to complete a Midpoint Evaluation", "Does Internship Site Require a  Site Visit", "Does student need to complete a Final Report","Does student need to complete a Final Evaluation", "Approve", "Approve Date"]);
                
            //     // CC
            //     rows.push(["Digital Signature", "Approved?", "Approve Date"]);
                
            //     // CSV File Content
                
            //     var content = new Array();
                
            //     // SF1
            //     var stuArray = ["{{ studentFormOne.firstName }}", "{{ studentFormOne.lastName }}", "{{ studentFormOne.userName }}",
            //         "{{ studentFormOne.cWID }}", "{{ studentFormOne.emailAddress }}", "{{ studentFormOne.classEnrolled }}", "{{ studentFormOne.numCredits }}",
            //           "{{ studentFormOne.phoneNumber }}", "{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}", "{{ studentFormOne.major }}",
            //           "{{ studentFormOne.minor }}", "{{ studentFormOne.facultyLiaison }}", "{{ studentFormOne.semesterEnrolled }}",
            //           "{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}",
            //           "{{ studentFormOne.semesterGrad }}", "{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}",
            //           "{{ studentFormOne.siteSuperName }}", "{{ studentFormOne.siteSuperEmail }}", "{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}"];
            //     content.push(stuArray); 
                
            //     // rows.push(["", ""]);
                
            //     // SSF
            //     var ssForm = ["{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}", "{{ siteSupervisorForm.organizationName }}", 
            //     "{{ siteSupervisorForm.businessLicenseNum }}", "{{ siteSupervisorForm.stateIssued }}", "{{ siteSupervisorForm.directInternshipSupervisor }}", 
            //     "{{ siteSupervisorForm.supervisorsTitle }}", "{{ siteSupervisorForm.physicalAddress }}", "{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}", 
            //     "{{ siteSupervisorForm.supervisorPhone }}", "{{ siteSupervisorForm.supervisorEmail }}", "{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}", 
            //     "{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}", 
            //     "{{ siteSupervisorForm.totalWeeks }}", "{{ siteSupervisorForm.estimatedHours }}", "{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}", 
            //     "{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}", 
            //     "{{ siteSupervisorForm.salary }}", "{{ siteSupervisorForm.stipend }}", "{{ siteSupervisorForm.task }}", 
            //     "{{ siteSupervisorForm.projects }}", "{{ siteSupervisorForm.outcomes }}", "{{ siteSupervisorForm.additionalComments }}", 
            //     "{{ siteSupervisorForm.submitDate }}", "{{ siteSupervisorForm.digitalSignature }}"];
            //     content.push(ssForm);
                
            //     //  rows.push(["", ""]);
                
            //     // HR
            //     var hrForm = ["{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}"];
            //     content.push(hrForm);
                
            //     //  rows.push(["", ""]);
                
            //     // SF2
            //     var stu2Form = ["{{ studentFormTwo.educationalExperience }}", "{{ studentFormTwo.goals }}"];
            //     content.push(stu2Form);
                
            //     // rows.push(["", ""]);
                
            //     // FL
            //     var flForm = ["{{ facultyLiaisonForm.legalName }}", "{% if facultyLiaisonForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}", 
            //     "{% if facultyLiaisonForm.midPointEvaluation %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.siteVisit %}Yes{% else %}No{% endif %}", 
            //     "{% if facultyLiaisonForm.finalReport %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.finalEvaluation %}Yes{% else %}No{% endif %}", 
            //     "{% if facultyLiaisonForm.approve %}Yes{% else %}No{% endif %}", "{% if facultyLiaisonForm.approveDate %}{{ facultyLiaisonForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}"];
            //     content.push(flForm);
                
            //     // rows.push(["", ""]);
                
            //     // CC
            //      var ccForm = ["{{ careerConsultantForm.legalName }}", "{% if careerConsultantForm.approve %}Yes{% else %}No{% endif %}", "{% if careerConsultantForm.approveDate %}{{ careerConsultantForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}"];
            //      content.push(ccForm);
                
            //     let csvContent = "data:text/csv;charset=utf-8,";
            //     rows.forEach(function(rowArray){
            //       let row = rowArray.join(",");
            //       csvContent += row + "\n";
            //     });
                
            //     csvContent += "\r\n";
                
            //     content.forEach(function(rowArray){
            //       let row = rowArray.join(",");
            //       csvContent += row + "\n";
            //     });
        });
    </script>
{% endblock %}
{% block body %}
    <h1 class="header center">Completed Student Winthrop Internship Learning Agreement</h1>
    <div class="section" id="nav-backBtn">
        <ul>
            <li>
                <a href="{{ path('careerconsultantform_index') }}" class="btn waves-effect waves-light button-back">Back to the list</a>
            </li>
            <li>
                <a class="btn waves-effect waves-light button-back" href="javascript:window.print()">Print Completed Application</a>
            </li>
            <li>
                <a href="#export" id="export" class="btn waves-effect waves-light button-back" >Export File</a>
            </li>            
            <li>
                <a href="{{ path('careerconsultantform_edit', { 'id': careerConsultantForm.id }) }}" class="btn waves-effect waves-light button-back">Edit</a>
            </li>
        </ul>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>{{ studentFormOne.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ studentFormOne.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Username</th>
                            <td>{{ studentFormOne.userName }}</td>
                        </tr>
                        <tr>
                            <th>CWID (Winthrop ID Number)</th>
                            <td>{{ studentFormOne.cWID }}</td>
                        </tr>
                        <tr>
                            <th>Winthrop Email Address</th>
                            <td>{{ studentFormOne.emailAddress }}</td>
                        </tr>
                        <tr>
                            <th>Internship Class</th>
                            <td>{{ studentFormOne.classEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Number of Credits for Internship</th>
                            <td>{{ studentFormOne.numCredits }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ studentFormOne.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Work Authorization (US Citizen or Permanent Resident)</th>
                            <td>{% if studentFormOne.workAuthorization %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>{{ studentFormOne.major }}</td>
                        </tr>
                        <tr>
                            <th>Minor</th>
                            <td>{{ studentFormOne.minor }}</td>
                        </tr>
                        <tr>
                            <th>Faculty Liaison</th>
                            <td>{{ studentFormOne.facultyLiaison }}</td>
                        </tr>
                        <tr>
                            <th>Semester Enrolled</th>
                            <td>{{ studentFormOne.semesterEnrolled }}</td>
                        </tr>
                        <tr>
                            <th>Year Enrolled</th>
                            <td>{% if studentFormOne.yearEnrolled %}{{ studentFormOne.yearEnrolled|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Semester Graduating</th>
                            <td>{{ studentFormOne.semesterGrad }}</td>
                        </tr>
                        <tr>
                            <th>Year Graduating</th>
                            <td>{% if studentFormOne.yearGrad %}{{ studentFormOne.yearGrad|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Name</th>
                            <td>{{ studentFormOne.siteSuperName }}</td>
                        </tr>
                        <tr>
                            <th>Internship Site Supervisor's Email Address</th>
                            <td>{{ studentFormOne.siteSuperEmail }}</td>
                        </tr>
                        <tr>
                            <th>Submitted Date</th>
                            <td>{% if studentFormOne.submitDate %}{{ studentFormOne.submitDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('studentformone_edit', { 'id': studentFormOne.id }) }}" class="btn-large waves-effect waves-light landing-btn-color">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <h2>Internship Site Information</h2>
  
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>For Profit?</th>
                            <td>{% if siteSupervisorForm.forProfit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Organization Name</th>
                            <td>{{ siteSupervisorForm.organizationName }}</td>
                        </tr>
                        <tr>
                            <th>Business License Number or FEIN #</th>
                            <td>{{ siteSupervisorForm.businessLicenseNum }}</td>
                        </tr>
                        <tr>
                            <th>State Issued</th>
                            <td>{{ siteSupervisorForm.stateIssued }}</td>
                        </tr>
                        <tr>
                            <th>Direct Internship Supervisor</th>
                            <td>{{ siteSupervisorForm.directInternshipSupervisor }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor's Title</th>
                            <td>{{ siteSupervisorForm.supervisorsTitle }}</td>
                        </tr>
                        <tr>
                            <th>Physical Address</th>
                            <td>{{ siteSupervisorForm.physicalAddress }}</td>
                        </tr>
                        <tr>
                            <th>Available for Site Visit?</th>
                            <td>{% if siteSupervisorForm.availableForSiteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Phone</th>
                            <td>{{ siteSupervisorForm.supervisorPhone }}</td>
                        </tr>
                        <tr>
                            <th>Supervisor Email</th>
                            <td>{{ siteSupervisorForm.supervisorEmail }}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected Start Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedStartDate %}{{ siteSupervisorForm.internshipProjectedStartDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Internship Projected End Date</th>
                            <td>{% if siteSupervisorForm.internshipProjectedEndDate %}{{ siteSupervisorForm.internshipProjectedEndDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Weeks</th>
                            <td>{{ siteSupervisorForm.totalWeeks }}</td>
                        </tr>
                        <tr>
                            <th>Estimated Total Hours/Week</th>
                            <td>{{ siteSupervisorForm.estimatedHours }}</td>
                        </tr>
                        <tr>
                            <th>Paid?</th>
                            <td>{% if siteSupervisorForm.paid %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary or Stipend</th>
                            <td>{% if siteSupervisorForm.salaryOrStipend %}{{ siteSupervisorForm.salaryOrStipend|join(', ') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Salary Amount</th>
                            <td>{{ siteSupervisorForm.salary }}</td>
                        </tr>                        
                        <tr>
                            <th>Stipend Amount</th>
                            <td>{{ siteSupervisorForm.stipend }}</td>
                        </tr>
                        <tr>
                            <th>Intern Tasks/Role</th>
                            <td>{{ siteSupervisorForm.task }}</td>
                        </tr>
                        <tr>
                            <th>Specific Projects Intern will work on/assist with</th>
                            <td>{{ siteSupervisorForm.projects }}</td>
                        </tr>
                        <tr>
                            <th>Learning Outcomes for Intern</th>
                            <td>{{ siteSupervisorForm.outcomes }}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments Regarding Internship</th>
                            <td>{{ siteSupervisorForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{{ siteSupervisorForm.submitDate }}</td>
                        </tr>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ siteSupervisorForm.digitalSignature }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('sitesupervisorform_edit', { 'id': siteSupervisorForm.id }) }}" class="btn-large waves-effect waves-light landing-btn-color">Edit</a>
                            </td>
                        </tr>                          
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <h2>HR Form Information</h2>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Did Student Complete TitleIX Training?</th>
                            <td>{% if hRForm.completedTitleIX %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approved Date</th>
                            <td>{% if hRForm.approveDate %}{{ hRForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <h2>Student Form Two Information</h2>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Explain how this internship will add to your educational experience at Winthrop University</th>
                            <td>{{ studentFormTwo.educationalExperience }}</td>
                        </tr>
                        <tr>
                            <th>What professional and personal goals do you hope to achieve while at this internship? (Be specific)</th>
                            <td>{{ studentFormTwo.goals }}</td>
                        </tr>
                        <tr>
                            <th>Date Submitted</th>
                            <td>{% if studentFormTwo.submitDate %}{{ studentFormTwo.submitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% if studentFormOne.workAuthorization == false %}
    <h2>International Office Form Information</h2> 
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Approve</th>
                            <td>{% if ioForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Additional Comments</th>
                            <td>{{ ioForm.additionalComments }}</td>
                        </tr>
                        <tr>
                            <th>Approved Date</th>
                            <td>{% if ioForm.approveDate %}{{ ioForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ ioForm.digitalSignature }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endif%}    
    
    <h2>Faculty Liaison Form Information</h2>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ facultyLiaisonForm.legalName }}</td>
                        </tr>
                        <tr>
                            <th>Does student need a completed Internship Learning Agreement?</th>
                            <td>{% if facultyLiaisonForm.internshipLearningAgreement %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Midpoint Evaluation?</th>
                            <td>{% if facultyLiaisonForm.midPointEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does Internship Site Require a  Site Visit?</th>
                            <td>{% if facultyLiaisonForm.siteVisit %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Final Report?</th>
                            <td>{% if facultyLiaisonForm.finalReport %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Does student need to complete a Final Evaluation?</th>
                            <td>{% if facultyLiaisonForm.finalEvaluation %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve</th>
                            <td>{% if facultyLiaisonForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve Date</th>
                            <td>{% if facultyLiaisonForm.approveDate %}{{ facultyLiaisonForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <h2>Career Consultant Form Information</h2>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">
                <table>
                    <tbody>
                        <tr>
                            <th>Digital Signature</th>
                            <td>{{ careerConsultantForm.legalName }}</td>
                        </tr>
                        <tr>
                            <th>Approve</th>
                            <td>{% if careerConsultantForm.approve %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Approve Date</th>
                            <td>{% if careerConsultantForm.approveDate %}{{ careerConsultantForm.approveDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <h2>General Responsibilities of the Parties:</h2>
     
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="card-panel">   
                <ol class="completedApplicationInfo">
                    <li>Student responsibilities:
                        <ol>
                            <li>Work on the days &amp; times agreed upon with supervisor</li>
                            <li>Dress in the appropriate attire for the internship site</li>
                            <li>Watch the CCE orientation video at www.youtube.com/watch?v=W2XIz-1-_cw&amp;feature=youtu.be</li>
                            <li>Your safety is important. If you ever feel unsafe, harassed, or discriminated against at the site you may leave on your own free will. The student should contact the internship coordinator and/or site<br />supervisor with concerns even if you are not sure.</li>
                            <li>Complete tasks and projects associated with the learning outcomes</li>
                            <li>Complete all assignments</li>
                            <li>Communicate with all parties if length of the internship needs to be adjusted in order to complete thehours requirement</li>
                            <li>DISCLAIMER:<br />Please note that the presence of job announcements on any website, list serve, bulletin or other communications maintained by Winthrop University does not indicate an endorsement or recommendation by Winthrop University or CCE. We are not responsible for safety, wages, working conditions or other aspects of off-campus employment. We do not conduct a background check on employers - so make sure you spend time researching before you apply.</li>
                        </ol>
                    </li>
                    <li>Faculty liaison or designee responsibilities:
                        <ol>
                            <li>Meet with the student interested in an internship and discuss the internship requirements</li>
                            <li>Check with employer to confirm the intern&rsquo;s role</li>
                            <li>Send initial correspondence and follow-up emails at the mid-point and at the conclusion of the internship</li>
                            <li>Be a sounding board for interns and site supervisors</li>
                            <li>Be vigilant! Listen for any safety and security concerns the students may have, and TAKE ACTION to report or intervene if appropriate.</li>
                        </ol>
                    </li>
                    <li>Site supervisor responsibilities:
                        <ol>
                            <li>Follow the Fair Labor Standards Act for internships (www.dol.gov/whd/regs/compliance/whdfs71.htm)</li>
                            <li>Orient intern on the culture of the site</li>
                            <li>The safety of our students is of utmost importance. Students/interns are directed to report any safety or workplace concerns to their faculty liaison or to Career and Civic Engagement. Internship sites/supervisors are required to provide a safe environment and to abide by all federal and state workplace laws and regulations in agreeing to accept an intern from Winthrop University into their workplace.</li>
                            <li>Explain work place expectations to the intern</li>
                            <li>Provide the student/intern and the faculty liaison or designee with any applicable policies or procedures the student/intern is expected to follow.</li>
                            <li>Assign appropriate work projects that complement the learning objectives</li>
                            <li>Complete the online mid-point and final evaluation for the student</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>    
    
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="del-btn" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
